*{
	vertical-align: baseline;
	margin: 0px;
	padding: 0px;
//	border: 0;
}
div{
	display: block;
}
h1{
	font: bold 22px 'Verdana';
}

h2{
	font: bold 20px 'Verdana';
	color: #007bed;
}
h3{
	font: bold 15px 'Verdana';
	color: #007bed;
}

html{
	height: 100%;
}

body{
	height: 100%;
	background-color: #CCCC99;
	font-family: 'Verdana';
}

.hidden{
	display:none;
}

#main_menu{
	padding: 10px 15px 15px 15px;
	margin: 0px;
}

#main_page{
	padding: 10px 15px 15px 15px;
	margin: 0px;
}

img{
	margin: 10px;
}

#GoogleEarth{
	height: 95%;
}

#ge_menu{
//	height: 3%;
	padding: 5px 15px 10px 15px;
}

#map3d {
	height: 95%;
}

#GoogleMaps {
	height: 95%;
}

#gm_menu{
//	height: 3%;
	padding: 5px 15px 10px 15px;
}

#map_canvas {
	height: 95%;
}

#UnionPage {
	height: 95%;
	margin: 0px auto;
	//text-float: center;
}

#up_gEarth {
//	border: 1px solid red;
	height: 50%;
	width: 100%;
	margin: 5px;
}

#up_gMaps {
//	border: 1px solid red;
	height: 50%;
	width: 100%;
	margin: 5px;
}

#up_right {
//	border: 1px solid red;
	margin: 0px 15px 10px 15px;
	height: 95%;
	width: 46%;
	float:left;
}

#up_left {
//	border: 1px solid red;
	margin: 0px 15px 10px 15px;
	height: 95%;
	width: 49%;
	float: left;
}

#mapG {
	height: 100%;
	width: 100%;
}

#up_cameras {
//	border: 1px solid red;
	height: 50%;
	width: 100%;
}

#nav_data {
	border-top: 1px solid red;
	padding: 10px 0px 5px 0px;
	height: 20%;
	width: 100%;
}

#up_controls {
	border-top: 1px solid red;
	padding: 10px 0px 5px 0px;
	height: 30%;
	width: 100%;
}

#controlBlock1, #controlBlock2, #controlBlock4, #controlBlock5, #navBlock1, #navBlock2 {
	float: left;
	padding: 10px 20px 10px 0px;
}

#controlBlock3 {
	float: left;
	padding: 10px 20px 10px 0px;
	text-align: center;
}

#settings {
	width: 1100px;
	height: 300px;
	left: 50%;
	top: 40%;
	margin-top: -150px;
	margin-left: -550px;
	position: fixed;
//	margin: 5px auto 5px;
}

#set_obj_area {
	margin: 0px 15px 10px 15px;
//	height: 95%;
	width: 300px;
	float: left;
}

#set_user_area {
	margin: 0px 15px 10px 15px;
//	height: 95%;
	width: 300px;
	float:left;
}

#change_pass_area {
	margin: 0px 15px 10px 15px;
//	height: 95%;
	width: 300px;
	float:left;
}

#settings input {
	margin-bottom: 10px;
}

#settings h3 {
	margin-bottom: 10px;
}

.set_error {
	display: none;
	width: 300px;
//	height: 20px;
	padding: 3px;
	color: #c00;
	background-color:#FCC;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 1px solid #c00;
	text-align:center;
	font-size: 15px;
}

.set_confirm {
	display: none;
	width: 300px;
//	height: 20px;
	padding: 3px;
	color: #007bed;
	background-color:#adccea;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 1px solid #007bed;
	text-align:center;
	font-size: 15px;
}


.button_all {
	background-color:#007bed;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 0;
	color:#FFF;
	width: 130px;
	height: 20px;
//	font-size: 16px;
	margin: 2px;
}

.login{
	top: 50%;
	left:50%;
	position: fixed;
	height: 350px;
	width: 300px;
	margin-top: -175px;
	margin-left: -150px;
}
.login h2 {
//	color: #5465aa;	
}
.login input {
	margin-bottom: 10px;
}
.submit{
	background-color:#007bed;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 0;
	color:#FFF;
	width: 300px;
	height: 25px;
	font-size: 16px;
	margin: 2px;
}
.error{
	top: 50%;
	left:50%;
	position: fixed;
	height: 350px;
	width: 300px;
	margin-top: -10px;
	margin-left: -150px;

	width: 300px;
	height: 20px;
	color: #c00;
	background-color:#FCC;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 1px solid #c00;
	text-align:center;
}