*{
	vertical-align: baseline;
	margin: 0px;
	padding: 0px;
//	border: 0;
}
div{
	display: block;
}
h1{
	font: bold 22px 'Verdana';
}

h2{
	font: bold 18px 'Verdana';
	color: #007bed;
}
h3{
	font: bold 15px 'Verdana';
	color: #007bed;
}

h4{
	font: bold 12px 'Verdana';
	color: #007bed;
}

html{
	height: 100%;
}

body{
	height: 99%;
	background-color: #CCCC99;
	font-family: 'Verdana';
	font-size: 14px;
}

.hidden{
	display:none;
}

#main_menu{
	padding: 10px 15px 15px 15px;
	margin: 0px;
}

#main_page{
	padding: 10px 15px 15px 15px;
	margin: 0px;
}

#GoogleMaps {
	border-top: 1px solid #007bed;
	height: 93%;
}

#gm_menu{
//	height: 3%;
	padding: 5px 15px 5px 15px;
}

#mapG {
	height: 100%;
	width: 100%;
}

#map_wrapper {
	height: 96%;
}

#UnionPage {
	border-top: 1px solid #007bed;
	height: 93%;
//	margin: 0px auto;
}

#up_objNameId {
	padding-bottom: 4px;
	border-bottom: 1px dashed #007bed;
	text-align: center;
}

#up_gEarth {
	height: 49.5%;
	width: 100%;
}

#up_gMaps {
	margin-top: 9px;
	height: 49.5%;
	width: 100%;
}

#up_left {
//border: 1px solid red;
	width: 400px;
	float: left;
}

#up_left h3 {
	border-bottom: 1px dashed #007bed;
}

#up_controls {
	margin: 0 15px 0 15px;
//	border-top: 1px dashed #007bed;
	padding: 10px 0px 5px 0px;
//	height: 30%;
//	width: 100%;
}

#controlBlock1, #controlBlock2, #controlBlock5 {
//	float: left;
	padding: 10px 20px 10px 0px;
	text-align:center;
}

#arrows_block, #controlBlock4 {
//	float: left;
	padding-top: 20px;
	text-align: center;
}

#up_info {
	margin: 0 15px 0 15px;
	padding: 10px 0px 5px 0px;
	height: 170px;
}

#infoBlock {
	margin: 5px 0 15px 0;
}

#infoBlock p, ul {
	padding-bottom: 3px;
}

#infoBlock li {
	list-style: none;
//	padding: 5px;
	padding-left: 5px;
}

#up_cameras {
	margin: 0 15px 0 15px;
}

#camera1 {
//	text-align: center;
	margin: 10px;
}

#up_right {
	margin-left: 400px;
}



/*



*/

#GoogleEarth{
	border-top: 1px solid #007bed;
	height: 93%;
	margin: 0px;
	padding: 0px;
}

#ge_menu{
//	height: 3%;
//	padding: 5px 15px 10px 15px;
}

#ge_left {
//	border: 1px solid red;
//	margin: 0px 15px 10px 15px;
	padding-left: 15px;
//	height: 97%;
	width: 200px;
	float: left;
}

#ge_right {
//	border: 1px solid red;
//	display: block;
	margin-left: 220px;
//	height: 97%;
//	width: auto;
//	float:left;
}

#ge_left h2 {
	text-align: center;
}

#ge_left li {
	list-style: none;
	padding: 5px;
	padding-left: 10px;
	
}

#ge_left img{
	margin-right: 5px;
}

#footer {
	border-top: 1px dashed #007bed;
	padding: 5px;
	text-align: center;
}

#settings {
	border-top: 1px solid #007bed;
	height: 93%;
	left: 50%;
	top: 40%;
}

#settings_wrapper {
	width: 990px;
	margin: 10% auto 0;
}

#set_obj_area {
	margin: 0px 15px 10px 15px;
//	height: 95%;
	width: 300px;
	float: left;
}

#set_user_area {
	margin: 0px 15px 10px 15px;
//	height: 95%;
	width: 300px;
	float:left;
}

#change_pass_area {
	margin: 0px 15px 10px 15px;
//	height: 95%;
	width: 300px;
	float:left;
}

#settings input {
	margin-bottom: 10px;
}

#settings h3 {
	margin-bottom: 10px;
}

.set_error {
	display: none;
	width: 300px;
//	height: 20px;
	padding: 3px;
	color: #c00;
	background-color:#FCC;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 1px solid #c00;
	text-align:center;
	font-size: 15px;
}

.set_confirm {
	display: none;
	width: 300px;
//	height: 20px;
	padding: 3px;
	color: #007bed;
	background-color:#adccea;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 1px solid #007bed;
	text-align:center;
	font-size: 15px;
}


.button_all {
	background-color:#007bed;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 0;
	color:#FFF;
	width: 130px;
	height: 20px;
//	font-size: 16px;
	margin: 2px;
}

.balloon {
	font-size: 14px;
}



.login{
	top: 50%;
	left:50%;
	position: fixed;
	height: 350px;
	width: 300px;
	margin-top: -175px;
	margin-left: -150px;
}
.login h2 {
//	color: #5465aa;	
}
.login input {
	margin-bottom: 10px;
}
.submit{
	background-color:#007bed;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 0;
	color:#FFF;
	width: 300px;
	height: 25px;
	font-size: 16px;
	margin: 2px;
}
.error{
	top: 50%;
	left:50%;
	position: fixed;
	height: 350px;
	width: 300px;
	margin-top: -10px;
	margin-left: -150px;

	width: 300px;
	height: 20px;
	color: #c00;
	background-color:#FCC;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 1px solid #c00;
	text-align:center;
}

#prompt_form {
	margin-top: 420px;
	margin-left: 40px;
	display: inline-block;
	padding: 10px;
	width: 300px;
	color: #c00;
	background-color:#FCC;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border: 1px solid #c00;
	text-align:center;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
//	box-shadow: 5 5 5px rgba(0,0,0,0.5);
}

#prompt_form input {
	margin-top: 5px;
}

#prompt_form_container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
}